/* font set from https://github.com/sofish/typo.css/blob/master/typo.css */
body, button, input, select, textarea {
   font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}
h1, h2, h3, h4, h5, h6 {
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  font-weight: 100;
  color: #000;
  line-height: 1.35;
}

.checkpoint img{
    margin: auto;
}
.pathToReg img{
    margin: auto;
}
.checkpoint .icon{
    display: block;
    text-indent: -9999px;
    width: 4rem;
    height: 4rem;
    background-size: 4rem 4rem;
    background-repeat: no-repeat;
    opacity: 0.3;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
.checkpoint .icon:hover {
    opacity: 1;
}

.pathToReg .icon{
    display: block;
    text-indent: -9999px;
    width: 8rem;
    height: 4rem;
    background-size: 8rem 4rem;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.contact-panel{
    /*position: fixed;*/
    height: 30px;
    width: 100%;
    padding: 2px;
    margin-bottom: 0px;
    bottom: 0px;
    /*background-color: #333; */
}

/*.apply-panel{
  background: rgba(50,50,50,1);

}
.apply-panel li, .apply-panel h3, .apply-panel h4{
    color: #fff;
}*/



/*登陆界面的css*/
.login-page{
  margin: 30% 5% 0% 5%;
  padding: 3% 3% 3% 3%;
  text-align: justify;
  background: rgba(50, 50, 50, 0.5);
}

.login-page label{
      color: #eee;
}

/*注册界面的css*/
.sign-page{
  margin: 20% 5% 0% 5%;
  padding: 3% 3% 3% 3%;
  text-align: justify;
  background: rgba(50, 50, 50, 0.5);
  display: none;
}

.sign-page label{
      color: #eee;
}

/* prefix fix tab issue */
.login-page .prefix{
  color: #fff;
  background-color: #008CBA;
  border-color: #007095;
}
.sign-page .prefix{
  color: #fff;
  background-color: #008CBA;
  border-color: #007095;
}
