{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <main role="main" class="container col-md-6" style="height: 100%">
        <div class="row align-items-center justify-content-center" style="height: 100%">
            <form method="post" action="">
                {% csrf_token %}
                <h5> {% blocktrans %}
                    Forgot your password? Enter your email in the form below and we'll send you instructions for
                    creating a new
                    one.
                {% endblocktrans %}</h5>
                <div class="form-group row">
                    <div class="col">
                        <input type="email" class="form-control" id="email" name="email" placeholder="邮箱">
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">重置密码</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}