{% extends "base.html" %}
{% load i18n %}
{% block content %}

<main role="main" class="container col-md-6">
    <form method="post" action="">
        {% csrf_token %}
        <h5> {% blocktrans %}
            Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new
            one.
            {% endblocktrans %}</h5>
        <div class="form-group row">
            <div class="col">
                <input type="email" class="form-control" id="email" name="email" placeholder="邮箱">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-md-3">
                <input type="button" class="btn btn-primary btn-block" value="重置密码"/>
            </div>
        </div>
    </form>
</main>
{% endblock %}