{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}
<script>alert("Please check your email to complete the registration process.");
    var url = window.location.href;
    var arr = url.split("/");
    var result = arr[0] + "//" + arr[2]
    window.location.href = result;
</script>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
