{% extends 'base.html' %}
{% block content %}
    <main class="container" style="height: 100%">
        {% csrf_token %}
        <div class="row justify-content-center align-items-center" style="height: 100%">
            <div class="container col-md-10 align-items-center">
                <div class="row justify-content-center">
                    <div class="col-md-2 justify-content-center">
                        <a class="justify-content-center" href="#">
                            <img id="sign-up" src="/static/img/fi-at-sign.svg"
                                 data-toggle="modal" data-target="#noticeModal" style="opacity: 0.5; width: 100%">
                        </a>
                        <h6 class="text-center">调剂信息公告</h6>
                    </div>
                    <div class="col-md-2">
                        <img id="rigtharrow1" src="/static/img/fi-arrow-right.svg"
                             style="opacity: 1.0; width: 100%">
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <img id="fill-form" src="/static/img/fi-clipboard-pencil.svg" data-toggle="modal"
                                 data-target="#profileModal"
                                 style="opacity: {% if profile_form.is_confirmed.value == '是' %}1.0{% else %}0.5{% endif %}; width: 100%">
                        </a>
                        <h6 class="text-center">填写调剂信息</h6>
                    </div>

                    <div class="col-md-2">
                        <a href="#"><img id="file-upload" src="/static/img/fi-folder-add.svg" data-toggle="modal"
                                         data-target="#fileModal"
                                         style="opacity: {% if file_upload_form.personal_files.value %}1.0{% else %}0.5{% endif %}; width: 100%"></a>
                        <h6 class="text-center">上传相关文件</h6>
                    </div>
                    <div class="col-md-2">
                        <img id="rigtharrow2" src="/static/img/fi-arrow-right.svg"
                             style="opacity:
                                     {% if profile_form.is_confirmed.value == '是' and file_upload_form.personal_statement.value and file_upload_form.school_report.value %}
                                         1.0
                                     {% else %}
                                         0.5
                                     {% endif %}; width: 100%">
                    </div>
                    <div class="col-md-2">
                        <a href="/download_form/"><img id="wait-result" src="/static/img/fi-flag.svg"
                                                       style="opacity: 0.5; width: 100%"></a>
                        <h6 class="text-center">下载打印表单</h6>
                    </div>
                </div>
            </div>
            <div class="container col-md-10 align-items-center">
                <fieldset>
                    <legend>当前进度</legend>
                    {% if submission_over %}
                        调剂信息提交已截止，请等候审核结果通知。
                    {% elif profile_form.is_confirmed.value != '是' %}
                        请阅读调剂信息公告，并点击填表图标完成报名信息。
                    {% elif not file_upload_form.personal_files.value %}
                        您个人材料未上传，请点击传文件图标上传相关文件。
                    {% else %}
                        调剂信息与相关文件已成功提交，请下载打印确认单并签字，等候审核结果通知。
                        <small>(在调剂信息提交截止前，文件可重复提交，系统仅保留最后一次提交的结果。)</small>
                    {% endif %}
                </fieldset>
            </div>
            <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="noticeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="noticeModalLabel">调剂信息公告</h5>
                        </div>
                        <div class="modal-body">
                            <h5>一.接收调剂专业信息</h5>
                            <table class="table">
                                <tr>
                                    <th>专业代码</th>
                                    <th>专业名称/项目名称</th>
                                </tr>
                                <tr>
                                    <td>083700</td>
                                    <td>安全科学与技术</td>
                                </tr>
                                <tr>
                                    <td>085700</td>
                                    <td>资源与环境-安全工程（深研院）</td>
                                </tr>
                                <tr>
                                    <td>085800</td>
                                    <td>能源动力-核能与核技术工程（含临床医学交叉人才培养项目）</td>
                                </tr>
                            </table>
                            <h5>二.调剂要求</h5>
                            <p>
                                我系拟采取两轮调剂，接收校内调剂，必须由我系进行复试。调剂考生必须达到原报考专业的清华大学学科门类复试基本要求，方可在相同或相近专业之间进行校内调剂。考生原应试的统考科目必须与我系的统考科目一致，且业务课考试科目须相同或相近。即初试科目为外语、政治、数学一，专业课与我系相关。报考理学、工学硕士研究生的考生调剂到全日制工程硕士专业学位研究生，须达到我校原报考专业分数线，可以参加我系专业型硕士复试面试。优先考虑报考电机、热能、电子、自动化、材料、生医等相关院系的考生。
                                <br>
                                考生网上提交调剂申请材料，我系组织线上材料审核。我系将分两轮进行网络远程复试，一轮调剂为达到我校工程硕士分数线但未达到所在院系复试线的考生；工物系学术型专业复试未通过考生如志愿调剂到我系工程硕士给予倾斜政策可视为一轮调剂并不受已公布的复试人数限制；二轮调剂为学生参加原报考院系复试但未通过面试，可以参加我系组织的二轮调剂。
                            </p>
                            <h5>三.日程安排</h5>
                            <ol>
                                <li>
                                    一轮调剂
                                    <ul>
                                        <li>
                                            报名时间：2020年5月4日17：00前
                                        </li>
                                        <li>
                                            确认入围复试考核名单：2020年5月6日17：00前
                                        </li>
                                        <li>
                                            网络远程资格审查：2020年5月7日9：00-16：00
                                        </li>
                                        <li>
                                            网络远程复试时间：
                                            <li>
                                                网络远程笔试：5月8日上午10：00-10：30
                                            </li>
                                            <li>
                                                网络远程面试：5月8日（学术型）、5月10日（全日制专业型）
                                            </li>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    二轮调剂（如一轮调剂未完成录取计划，进行二轮调剂面试）
                                    <ul>
                                        <li>
                                            报名时间：2020年5月13日17：00前
                                        </li>
                                        <li>
                                            确认入围复试考核名单：2020年5月14日17：00前
                                        </li>
                                        <li>
                                            网络远程资格审查：2020年5月15日
                                        </li>
                                        <li>
                                            网络远程面试时间：5月16日
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                            <h5>四.申请流程</h5>
                            <ol>
                                <li>
                                    <b>报名方式</b><br/> 网上报名后系统生成的申请表-工程物理系硕士调剂志愿确认表请签字后扫描并于2020年5月4日（二轮调剂5月13日）17：00前发到gwyjs@mail.tsinghua.edu.cn。同时以上所有纸版材料邮寄到工程物理系教学办（清华大学工程物理系刘卿楼213办公室）。其中网上报名系统上传附件包括准考证、有效身份证件复印件（正反面）、学历学位证书（应届生提供学生证）复印件、大学期间成绩单原件或档案中成绩单复印件（加盖档案单位红章）、初试成绩单网络查询页面、考生自述（包括政治表现、外语水平、业务和科研能力〈包括毕设、科技实践经历、获奖情况等〉、未来学术志趣及研究计划）。
                                </li>
                                <!-- <li> -->
                                    <!-- <b>资格审查需提交材料</b><br/>
                                    考生须携带本人以下材料：
                                    <ul>
                                        <li>准考证</li>
                                        <li>有效身份证件原件及一份复印件</li>
                                        <li>毕业证书（应届生带学生证）原件及一份复印件</li>
                                        <li>一张1寸免冠照片（体检表用）</li>
                                        <li>考生自述（包括政治表现、外语水平、业务和科研能力、研究计划）</li>
                                        <li>大学期间成绩单原件或档案中成绩单复印件（加盖档案单位红章）</li>
                                    </ul>
                                    不论是否录取，所交材料含成绩单一律不予退还。未进行资格审查或资格审查未通过的考生一律不予录取。 -->
                                <!-- </li> -->
                            </ol>
                            <!-- <h5>五.录取办法</h5>
                            <p><b>复试内容</b><br/> 笔试，120分钟，100分；面试，每人20分钟，其中5分钟的自述，满分100分</p> -->
                            <h5>五.其他</h5>
                            <b>咨询电话：</b>010-62782677、010-62783493，<b>咨询邮箱：</b>gwyjs@mail.tsinghua.edu.cn
                            <!-- <ul>
                                <li>核技术方向 赵自然 010-62792719（本部）</li>
                                <li>核燃料方向 姜东君 010-62784518（本部）</li>
                                <li>核能方向 黄善仿 010-62782942（本部），
                                    刘井泉010-69794863（深圳研究生院）
                                </li>
                                <li>安全方向 翁文国 010-62796917（深圳研究生院）</li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="profileModalLabel">调剂信息
                                {% if profile_form.is_confirmed.value == '是' %}
                                    （已提交，无法修改）
                                {% endif %}</h5>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/profile/" id="profile_form">
                                {% csrf_token %}
                                <div class=" form-group row align-items-center">
                                    <label for="age" class="col-form-label col-sm-3 text-right">姓名：</label>
                                    <input type="text" class="form-control col-sm-3 text-right" name="name"
                                           value="{{ profile_form.name.value|default_if_none:'' }}">
                                    <label class="col-form-label col-sm-3 text-right">性别：</label>
                                    <div class="col-sm-1">
                                        <input type="radio" name="gender" value="男" id="gender_man"
                                                {% if profile_form.gender.value == '男' %}
                                               checked
                                                {% endif %}>
                                        <label for="gender_man" class="col-form-label">男</label>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="radio" name="gender" value="女" id="gender_woman"
                                                {% if profile_form.gender.value == '女' %} checked {% endif %}>
                                        <label for="gender_woman" class="col-form-label">女</label>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="student_id" class="col-form-label col-sm-3 text-right">考生编号：</label>
                                    <input type="text" class="form-control col-sm-3 text-right" id="student_id"
                                           name="student_id"
                                           value="{{ profile_form.student_id.value|default_if_none:'' }}">
                                    <label for="phone_number" class="col-form-label col-sm-2 text-right">手机号：</label>
                                    <input type="text" class="form-control col-sm-3 text-right" id="phone_number"
                                           name="phone_number"
                                           value="{{ profile_form.phone_number.value|default_if_none:'' }}">
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="school" class="col-form-label col-sm-3 text-right">本科学校：</label>
                                    <input type="text" class="form-control col-sm-3 text-right" id="school"
                                           name="school"
                                           value="{{ profile_form.school.value|default_if_none:'' }}">
                                    <label for="major" class="col-form-label col-sm-2 text-right">本科专业：</label>
                                    <input type="text" class="form-control col-sm-3 text-right" id="major" name="major"
                                           value="{{ profile_form.major.value|default_if_none:'' }}">
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="graduate_year"
                                           class="col-form-label col-sm-3 text-right">本科毕业年份：</label>
                                    <input type="number" class="form-control col-sm-3 text-right" id="graduate_year"
                                           name="graduate_year"
                                           value="{{ profile_form.graduate_year.value|default_if_none:'' }}">
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="first_institute"
                                           class="col-form-label col-sm-3 text-right">原报考院系：</label>
                                    <input type="text" class="form-control col-sm-3 text-right" id="first_institute"
                                           name="first_institute"
                                           value="{{ profile_form.first_institute.value|default_if_none:'' }}">
                                    <label for="first_major" class="col-form-label col-sm-2 text-right">原报考专业：</label>
                                    <input type="text" class="form-control col-sm-3 text-right" id="first_major"
                                           name="first_major"
                                           value="{{ profile_form.first_major.value|default_if_none:'' }}">
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-form-label col-sm-6 text-right">是否参加原报考院系复试：</label>
                                    <div class="col-sm-1">
                                        <input type="radio" name="exam_for_first_institute" value="是"
                                               id="exam_for_first_institute_yes"
                                                {% if profile_form.exam_for_first_institute.value == '是' %}
                                               checked
                                                {% endif %}>
                                        <label for="exam_for_first_institute_yes" class="col-form-label">是</label>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="radio" name="exam_for_first_institute" value="否"
                                               id="exam_for_first_institute_no"
                                                {% if profile_form.exam_for_first_institute.value == '否' %}
                                               checked {% endif %}>
                                        <label for="exam_for_first_institute_no" class="col-form-label">否</label>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>

                                <div class="form-group row align-items-center">
                                    <label for="politics" class="col-form-label col-sm-3 text-right">政治课成绩：</label>
                                    <input type="number" class="form-control col-sm-3 text-right" id="politics"
                                           name="politics" value="{{ profile_form.politics.value|default:'' }}">
                                    <label for="english" class="col-form-label col-sm-2 text-right">英语课成绩：</label>
                                    <input type="number" class="form-control col-sm-3 text-right" id="english"
                                           name="english" value="{{ profile_form.english.value|default:'' }}">
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="subject3_name" class="col-form-label col-sm-3 text-right">科目三名称：</label>
                                    <input type="text" class="form-control col-sm-3 text-right" id="subject3_name"
                                           name="subject3_name"
                                           value="{{ profile_form.subject3_name.value|default:'' }}">
                                    <label for="subject3_score"
                                           class="col-form-label col-sm-2 text-right">科目三成绩：</label>
                                    <input type="number" class="form-control col-sm-3 text-right" id="subject3_score"
                                           name="subject3_score"
                                           value="{{ profile_form.subject3_score.value|default:'' }}">
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="subject_major_name"
                                           class="col-form-label col-sm-3 text-right">专业课名称：</label>
                                    <input type="text" class="form-control col-sm-3 text-right" id="subject_major_name"
                                           name="subject_major_name"
                                           value="{{ profile_form.subject_major_name.value|default:'' }}">
                                    <label for="subject_major_score"
                                           class="col-form-label col-sm-2 text-right">专业课成绩：</label>
                                    <input type="number" class="form-control col-sm-3 text-right"
                                           id="subject_major_score"
                                           name="subject_major_score"
                                           value="{{ profile_form.subject_major_score.value|default:'' }}">
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="total_score" class="col-form-label col-sm-3 text-right">总分：</label>
                                    <input type="number" class="form-control col-sm-3 text-right" id="total_score"
                                           name="total_score" value="{{ profile_form.total_score.value|default:'' }}">
                                </div>
                                <div class="dropdown-divider"></div>

                                <div class="form-group row align-items-center">
                                    <label for="interest1" class="col-form-label col-sm-3 text-right">第一志愿：</label>
                                    <select class="form-control col-sm-8 text-right no-required" id="interest1"
                                            name="interest1">
                                        <option value=""
                                                {% if not profile_form.interest1.value %}
                                                selected
                                                {% endif %}>
                                            ---------------------------------------------------------------------
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）- 核能方向"
                                                {% if profile_form.interest1.value == '能源动力-核能与核技术工程（清华本部）- 核能方向' %}
                                                selected
                                                {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）- 核能方向
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）-核技术方向"
                                                {% if profile_form.interest1.value == '能源动力-核能与核技术工程（清华本部）-核技术方向' %}
                                                selected
                                                {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）-核技术方向
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目"
                                                {% if profile_form.interest1.value == '能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目' %}
                                                selected
                                                {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目
                                        </option>
                                        <option value="安全科学与技术"
                                                {% if profile_form.interest1.value == '安全科学与技术' %}
                                                selected
                                                {% endif %}>
                                            安全科学与技术
                                        </option>
                                        <option value="资源与环境-安全工程（深研院）-公共安全方向"
                                                {% if profile_form.interest1.value == '资源与环境-安全工程（深研院）-公共安全方向' %}
                                                selected
                                                {% endif %}>
                                            资源与环境-安全工程（深研院）-公共安全方向
                                        </option>
                                        <option value="资源与环境-安全工程（深研院）-核能方向" {% if profile_form.interest1.value == '资源与环境-安全工程（深研院）-核能方向' %} selected
                                            {% endif %}>
                                            资源与环境-安全工程（深研院）-核能方向
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="exam_subject" class="col-form-label col-sm-3 text-right">考试科目：</label>
                                    <select class="form-control col-sm-8 text-right" id="exam_subject"
                                            name="exam_subject">
                                        <option value=""
                                                {% if not profile_form.exam_subject.value %}
                                                selected
                                                {% endif %}>
                                            ---------------------------------------------------------------------
                                        </option>
                                        <option value="安全系统工程" class="exam_subject_option_1"
                                                {% if profile_form.exam_subject.value == '安全系统工程' %}
                                                selected
                                                {% endif %}>
                                            安全系统工程
                                        </option>
                                        <option value="热工基础" class="exam_subject_option_2"
                                                {% if profile_form.exam_subject.value == '热工基础' %}
                                                selected
                                                {% endif %}>
                                            热工基础
                                        </option>
                                        <option value="核燃料循环与材料基础" class="exam_subject_option_3"
                                                {% if profile_form.exam_subject.value == '核燃料循环与材料基础' %}
                                                selected
                                                {% endif %}>
                                            力学基础
                                        </option>
                                        <option value="核物理" class="exam_subject_option_4"
                                                {% if profile_form.exam_subject.value == '核物理' %}
                                                selected
                                                {% endif %}>
                                            核物理
                                        </option>
                                        <option value="辐射防护" class="exam_subject_option_5"
                                                {% if profile_form.exam_subject.value == '辐射防护' %}
                                                selected
                                                {% endif %}>
                                            辐射防护
                                        </option>
                                        <option value="信号与系统" class="exam_subject_option_6"
                                                {% if profile_form.exam_subject.value == '信号与系统' %}
                                                selected
                                                {% endif %}>
                                            信号与系统
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="interest2" class="col-form-label col-sm-3 text-right">第二志愿：</label>
                                    <select class="form-control col-sm-8 text-right no-required" id="interest2"
                                            name="interest2">
                                        <option value="" {% if not profile_form.interest2.value %} selected {% endif %}>
                                            ---------------------------------------------------------------------
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）- 核能方向" 
                                        {% if profile_form.interest2.value == '能源动力-核能与核技术工程（清华本部）- 核能方向' %} 
                                        selected
                                        {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）- 核能方向
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）-核技术方向" {% if profile_form.interest2.value == '能源动力-核能与核技术工程（清华本部）-核技术方向' %} selected
                                            {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）-核技术方向
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目"
                                            {% if profile_form.interest2.value == '能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目' %} selected {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目
                                        </option>
                                        <option value="安全科学与技术" {% if profile_form.interest2.value == '安全科学与技术' %} selected {% endif %}>
                                            安全科学与技术
                                        </option>
                                        <option value="资源与环境-安全工程（深研院）-公共安全方向" {% if profile_form.interest2.value == '资源与环境-安全工程（深研院）-公共安全方向' %} selected
                                            {% endif %}>
                                            资源与环境-安全工程（深研院）-公共安全方向
                                        </option>
                                        <option value="资源与环境-安全工程（深研院）-核能方向" {% if profile_form.interest2.value == '资源与环境-安全工程（深研院）-核能方向' %} selected
                                            {% endif %}>
                                            资源与环境-安全工程（深研院）-核能方向
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="interest3" class="col-form-label col-sm-3 text-right">第三志愿：</label>
                                    <select class="form-control col-sm-8 text-right no-required" id="interest3"
                                            name="interest3">
                                        <option value="" {% if not profile_form.interest3.value %} selected {% endif %}>
                                            ---------------------------------------------------------------------
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）- 核能方向" {% if profile_form.interest3.value == '能源动力-核能与核技术工程（清华本部）- 核能方向' %} selected
                                            {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）- 核能方向
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）-核技术方向" {% if profile_form.interest3.value == '能源动力-核能与核技术工程（清华本部）-核技术方向' %} selected
                                            {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）-核技术方向
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目"
                                            {% if profile_form.interest3.value == '能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目' %} selected {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目
                                        </option>
                                        <option value="安全科学与技术" {% if profile_form.interest3.value == '安全科学与技术' %} selected {% endif %}>
                                            安全科学与技术
                                        </option>
                                        <option value="资源与环境-安全工程（深研院）-公共安全方向" {% if profile_form.interest3.value == '资源与环境-安全工程（深研院）-公共安全方向' %} selected
                                            {% endif %}>
                                            资源与环境-安全工程（深研院）-公共安全方向
                                        </option>
                                        <option value="资源与环境-安全工程（深研院）-核能方向" {% if profile_form.interest3.value == '资源与环境-安全工程（深研院）-核能方向' %} selected
                                            {% endif %}>
                                            资源与环境-安全工程（深研院）-核能方向
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="interest4" class="col-form-label col-sm-3 text-right">第四志愿：</label>
                                    <select class="form-control col-sm-8 text-right no-required" id="interest4"
                                            name="interest4">
                                        <option value="" {% if not profile_form.interest4.value %} selected {% endif %}>
                                            ---------------------------------------------------------------------
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）- 核能方向" {% if profile_form.interest4.value == '能源动力-核能与核技术工程（清华本部）- 核能方向' %} selected
                                            {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）- 核能方向
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）-核技术方向" {% if profile_form.interest4.value == '能源动力-核能与核技术工程（清华本部）-核技术方向' %} selected
                                            {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）-核技术方向
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目"
                                            {% if profile_form.interest4.value == '能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目' %} selected {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目
                                        </option>
                                        <option value="安全科学与技术" {% if profile_form.interest4.value == '安全科学与技术' %} selected {% endif %}>
                                            安全科学与技术
                                        </option>
                                        <option value="资源与环境-安全工程（深研院）-公共安全方向" {% if profile_form.interest4.value == '资源与环境-安全工程（深研院）-公共安全方向' %} selected
                                            {% endif %}>
                                            资源与环境-安全工程（深研院）-公共安全方向
                                        </option>
                                        <option value="资源与环境-安全工程（深研院）-核能方向" {% if profile_form.interest4.value == '资源与环境-安全工程（深研院）-核能方向' %} selected
                                            {% endif %}>
                                            资源与环境-安全工程（深研院）-核能方向
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="interest5" class="col-form-label col-sm-3 text-right">第五志愿：</label>
                                    <select class="form-control col-sm-8 text-right no-required" id="interest5"
                                            name="interest5">
                                        <option value="" {% if not profile_form.interest5.value %} selected {% endif %}>
                                            ---------------------------------------------------------------------
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）- 核能方向" {% if profile_form.interest5.value == '能源动力-核能与核技术工程（清华本部）- 核能方向' %} selected
                                            {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）- 核能方向
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）-核技术方向" {% if profile_form.interest5.value == '能源动力-核能与核技术工程（清华本部）-核技术方向' %} selected
                                            {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）-核技术方向
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目"
                                            {% if profile_form.interest5.value == '能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目' %} selected {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目
                                        </option>
                                        <option value="安全科学与技术" {% if profile_form.interest5.value == '安全科学与技术' %} selected {% endif %}>
                                            安全科学与技术
                                        </option>
                                        <option value="资源与环境-安全工程（深研院）-公共安全方向" {% if profile_form.interest5.value == '资源与环境-安全工程（深研院）-公共安全方向' %} selected
                                            {% endif %}>
                                            资源与环境-安全工程（深研院）-公共安全方向
                                        </option>
                                        <option value="资源与环境-安全工程（深研院）-核能方向" {% if profile_form.interest5.value == '资源与环境-安全工程（深研院）-核能方向' %} selected
                                            {% endif %}>
                                            资源与环境-安全工程（深研院）-核能方向
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="interest6" class="col-form-label col-sm-3 text-right">第六志愿：</label>
                                    <select class="form-control col-sm-8 text-right no-required" id="interest6" name="interest6">
                                        <option value="" {% if not profile_form.interest6.value %} selected {% endif %}>
                                            ---------------------------------------------------------------------
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）- 核能方向" {% if profile_form.interest6.value == '能源动力-核能与核技术工程（清华本部）- 核能方向' %}
                                            selected {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）- 核能方向
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）-核技术方向" {% if profile_form.interest6.value == '能源动力-核能与核技术工程（清华本部）-核技术方向' %}
                                            selected {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）-核技术方向
                                        </option>
                                        <option value="能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目"
                                            {% if profile_form.interest6.value == '能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目' %} selected {% endif %}>
                                            能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目
                                        </option>
                                        <option value="安全科学与技术" {% if profile_form.interest6.value == '安全科学与技术' %} selected {% endif %}>
                                            安全科学与技术
                                        </option>
                                        <option value="资源与环境-安全工程（深研院）-公共安全方向" {% if profile_form.interest6.value == '资源与环境-安全工程（深研院）-公共安全方向' %}
                                            selected {% endif %}>
                                            资源与环境-安全工程（深研院）-公共安全方向
                                        </option>
                                        <option value="资源与环境-安全工程（深研院）-核能方向" {% if profile_form.interest6.value == '资源与环境-安全工程（深研院）-核能方向' %} selected
                                            {% endif %}>
                                            资源与环境-安全工程（深研院）-核能方向
                                        </option>
                                    </select>
                                </div>
                                <div class="dropdown-divider"></div>


                                <div class="form-group row align-items-center">
                                    <label class="col-form-label col-sm-3 text-right"
                                           for="is_confirmed"><b>最终确认：</b></label>
                                    <input type="checkbox" id="is_confirmed" name="is_confirmed"
                                           value="{{ form.is_confirmed.value }}"
                                            {% if profile_form.is_confirmed.value == '是' %}
                                           checked {% endif %}>
                                </div>
                                {% if profile_form.is_confirmed.value != '是' %}
                                    <div class="modal-footer justify-content-center">
                                        <button type="submit" id="profile_btn" class="btn btn-primary">暂存</button>
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="fileModalLabel">提交文件</h5>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/upload/" enctype="multipart/form-data" id="file_upload_form">
                                {% csrf_token %}
                                <div class="from-group row">
                                    <label class="col-sm-3 text-right">个人材料</label>
                                    <div class="col-sm-8" data-toggle="tooltip" title="包括准考证、有效身份证件复印件（正反面）、学历学位证书（应届生提供学生证）复印件、大学期间成绩单原件或档案中成绩单复印件（加盖档案单位红章）、初试成绩单网络查询页面、考生自述（包括政治表现、外语水平、业务和科研能力〈包括毕设、科技实践经历、获奖情况等〉、未来学术志趣及研究计划），请打包上传">
                                        <label class="text-left">{{ file_upload_form.personal_files.value|default_if_none:'未提交'|split:'/'|last }}</label>
                                        <input type="file" class="filestyle" id="personal_files" name="personal_files"
                                               data-text="浏览...">
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="modal-footer justify-content-center">
                                    <button type="submit" id="upload_btn" class="btn btn-primary">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </main>
{% endblock %}

{% block extrascript %}
    <script>
        $(document).ready(function () {
            jQuery.fn.toggleOption = function (show) {
                jQuery(this).toggle(show);
                if (show) {
                    if (jQuery(this).parent('span.toggleOption').length)
                        jQuery(this).unwrap();
                } else {
                    if (jQuery(this).parent('span.toggleOption').length == 0)
                        jQuery(this).wrap('<span class="toggleOption" style="display: none;" />');
                }
            };

            $('#interest1').change(function () {
                if ($('#interest1').val() == '能源动力-核能与核技术工程（清华本部）- 核能方向') {
                    $('.exam_subject_option_1').toggleOption(false);
                    $('.exam_subject_option_2').toggleOption(true);
                    $('.exam_subject_option_3').toggleOption(true);
                    $('.exam_subject_option_4').toggleOption(true);
                    $('.exam_subject_option_5').toggleOption(true);
                    $('.exam_subject_option_6').toggleOption(true);
                } else if ($('#interest1').val() == '能源动力-核能与核技术工程（清华本部）-核技术方向') {
                    $('.exam_subject_option_1').toggleOption(false);
                    $('.exam_subject_option_2').toggleOption(true);
                    $('.exam_subject_option_3').toggleOption(true);
                    $('.exam_subject_option_4').toggleOption(true);
                    $('.exam_subject_option_5').toggleOption(true);
                    $('.exam_subject_option_6').toggleOption(true);
                } else if ($('#interest1').val() == '能源动力-核能与核技术工程（清华本部）-临床医学交叉人才培养项目') {
                    $('.exam_subject_option_1').toggleOption(false);
                    $('.exam_subject_option_2').toggleOption(true);
                    $('.exam_subject_option_3').toggleOption(true);
                    $('.exam_subject_option_4').toggleOption(true);
                    $('.exam_subject_option_5').toggleOption(true);
                    $('.exam_subject_option_6').toggleOption(true);
                } else if ($('#interest1').val() == '安全科学与技术') {
                    $('.exam_subject_option_1').toggleOption(true);
                    $('.exam_subject_option_2').toggleOption(false);
                    $('.exam_subject_option_3').toggleOption(false);
                    $('.exam_subject_option_4').toggleOption(false);
                    $('.exam_subject_option_5').toggleOption(false);
                    $('.exam_subject_option_6').toggleOption(false);
                } else if ($('#interest1').val() == '资源与环境-安全工程（深研院）-公共安全方向') {
                    $('.exam_subject_option_1').toggleOption(true);
                    $('.exam_subject_option_2').toggleOption(true);
                    $('.exam_subject_option_3').toggleOption(false);
                    $('.exam_subject_option_4').toggleOption(false);
                    $('.exam_subject_option_5').toggleOption(false);
                    $('.exam_subject_option_6').toggleOption(false);
                } else if ($('#interest1').val() == '资源与环境-安全工程（深研院）-核能方向') {
                    $('.exam_subject_option_1').toggleOption(true);
                    $('.exam_subject_option_2').toggleOption(true);
                    $('.exam_subject_option_3').toggleOption(false);
                    $('.exam_subject_option_4').toggleOption(false);
                    $('.exam_subject_option_5').toggleOption(false);
                    $('.exam_subject_option_6').toggleOption(false);
                }
            });

            $('#is_confirmed').change(function () {
                    if (this.checked) {
                        $('#profile_btn').html('提交');
                        $('#is_confirmed').prop('value', '是');
                    }
                    else {
                        $('#profile_btn').html('暂存');
                        $('#is_confirmed').prop('value', '否');
                    }
                }
            );

            if ('{{ profile_form.is_confirmed.value }}' == '是') {
                $('#profile_form :input').prop('disabled', true);
            }

            $('#is_confirmed').change(function () {
                    if (this.checked) {
                        $('#profile_form :input').prop('required', true);
                        $('.no-required:input').prop('required', false)
                    }
                    else {
                        $('#profile_form :input').prop('required', false);
                    }
                }
            );

            if ("{{ submission_over }}" == "True") {
                $('#profile_form :input').prop('disabled', true);
                $('#file_upload_form :input').prop('disabled', true);
            }

            $('#personal_files').change(function () {
                var fUpload = $('#personal_files')[0].files[0];
                if (fUpload != null) {
                    var fMax = 1024 * 1024 * 50;
                    if (fUpload.size > fMax) {
                        alert('请勿上传超过50M的文件！')
                        $('#upload_btn').prop('disabled', true);
                    }
                    else {
                        $('#upload_btn').prop('disabled', false);
                    }
                }
            });
        })
    </script>
{% endblock %}
