{% extends 'base.html' %}
{% block content %}
    <main class="container" style="height: 100%">
        {% csrf_token %}
        <div class="row justify-content-center align-items-center" style="height: 100%">
            <div class="container col-md-8 align-items-center">
                <div class="row justify-content-center">
                    <div class="col-md-2 justify-content-center">
                        <a class="justify-content-center" href="http://www.ep.tsinghua.edu.cn/essay/95/1636.html">
                            <img id="sign-up" src="/static/img/fi-at-sign.svg" style="opacity: 0.5; width: 100%" data-toggle="modal" data-target="#noticeModal" >
                        </a>
                        <h5 class="text-center">夏令营报名通知</h5>
                    </div>
                    <div class="col-md-2">
                        <img id="rigtharrow1" src="/static/img/fi-arrow-right.svg"
                             style="opacity: 1.0;">
                    </div>
                    <div class="col-md-2">
                        <a href="#"><img id="fill-form" src="/static/img/fi-clipboard-pencil.svg" data-toggle="modal"
                                         data-target="#profileModal"
                                         style="opacity: {% if profile_form.is_confirmed.value == '是' %}1.0{% else %}0.5{% endif %}; width: 100%"></a>
                        <h5 class="text-center">填表</h5>
                    </div>

                    <div class="col-md-2">
                        <a href="#"><img id="file-upload" src="/static/img/fi-folder-add.svg" data-toggle="modal"
                                         data-target="#fileModal"
                                         style="opacity: {% if file_upload_form.personal_statement.value and file_upload_form.school_report.value %}1.0{% else %}0.5{% endif %}; width: 100%"></a>
                        <h5 class="text-center">传文件</h5>
                    </div>
                    <div class="col-md-2">
                        <img id="rigtharrow2" src="/static/img/fi-arrow-right.svg"
                             style="opacity:
                                     {% if profile_form.is_confirmed.value == '是' and file_upload_form.personal_statement.value and file_upload_form.school_report.value %}
                                         1.0
                                     {% else %}
                                         0.5
                                     {% endif %}; width: 100%">
                    </div>
                    <div class="col-md-2">
                        <a href="/download_form/"><img id="wait-result" src="/static/img/fi-flag.svg"
                                         style="opacity: 0.5; width: 100%"></a>
                        <h5 class="text-center">下载打印表单</h5>
                    </div>
                </div>
            </div>
            <div class="container col-md-10 align-items-center">
                <div class="row text-left">
                    <h5>当前进度</h5>
                </div>
                <div class="row text-center justify-content-center">
                    <div id="notification">
                        {% if submission_over %}
                            {% if not release %}
                            报名信息提交已截止，请等候审核结果通知。
                            {% else %}
                                {% if profile.check_status == '通过' %}
                                    <p>祝贺您获得通过本次夏令营初试，请按照http://www.ep.tsinghua.edu.cn公告按时参加活动。</p>
                                    <p>如有特殊情况不能参加夏令营，请回复<a href="mailto:li-xx15@mails.tsinghua.edu.cn">邮件</a>告知。</p>
                                    <p>7月10日9:00-16:30 报到，地点：工程物理系(刘卿楼)104室。</p>
                                    <p>本次暑期夏令营免费为外地学生统一安排了住宿(清华大学核研院招待所(昌平))。</p>
                                {% else %}
                                    <p>很遗憾您未能通过本次夏令营初审</p>
                                {% endif %}
                            {% endif %}
                        {% elif profile_form.is_confirmed.value != '是' %}
                            您信息尚未提交，请查看夏令营报名通知并点击填表图标完成报名信息。
                        {% elif not file_upload_form.personal_statement.value %}
                            您个人陈述文件未上传，请点击传文件图标上传相关文件。
                        {% elif not file_upload_form.school_report.value %}
                            您成绩单尚未上传，请点击传文件图标上传相关文件。
                        {% elif not  release %}
                            报名信息与相关文件已成功提交，请等候审核结果通知。
                            <small>(在报名截止前，文件可重复提交，系统仅保留最后一次提交的结果。)</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="profileModalLabel">报名信息{% if form.is_confirmed.value == '是' %}
                            （已提交，无法修改）
                        {% endif %}</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/profile/" id="profile_form">
                            {% csrf_token %}
                            <h5>个人信息</h5>
                            <div class="form-group row mx-2">
                                <label for="name" class="col-form-label col-2 text-right">姓名：</label>
                                <input type="text" class="form-control col-4 text-right" id="name" name="name"
                                    value='{{ profile_form.name.value|default_if_none:"" }}'>
                                <label class="col-form-label col-2 text-right">性别：</label>
                                <div class="col-2">
                                    <input type="radio" name="gender" value="男" id="gender_man" {% if profile_form.gender.value == '男' %} checked
                                        {% endif %}>
                                    <label for="gender_man" class="col-form-label">男</label>
                                </div>
                                <div class="col-2">
                                    <input type="radio" name="gender" value="女" id="gender_woman" {% if profile_form.gender.value == '女' %} checked
                                        {% endif %}>
                                    <label for="gender_woman" class="col-form-label">女</label>
                                </div>
                            </div>
                            <div class='form-group row mx-2'>
                                <label for="id_number" class="col-form-label col-sm-2 text-right">身份证号：</label>
                                <input type="text" class="form-control col-sm-4 text-right" id="id_number" name="id_number"
                                    value='{{ profile_form.id_number.value|default_if_none:"" }}'>
                                <label for="phone_number" class="col-form-label col-sm-2 text-right">手机号码：</label>
                                <input type="text" class="form-control col-sm-4 text-right" id="phone_number" name="phone_number"
                                    value='{{ profile_form.phone_number.value|default_if_none:"" }}'>
                            </div>
                            <hr>
                            <h5>本科阶段信息</h5>
                            <div class='form-group row mx-1'>
                                <label for="school" class="col-form-label col-2 text-right">学校：</label>
                                <input type="text" class="form-control col-4 text-right" id="school" name="school"
                                    value='{{ profile_form.school.value|default_if_none:"" }}'>
                                <label for="department" class="col-form-label col-2 text-right">院系：</label>
                                <input type="text" class="form-control col-4 text-right" id="department" name="department"
                                    value='{{ profile_form.department.value|default_if_none:"" }}'>
                            </div>
                            <div class='form-group row mx-1'>
                                <label for="major" class="col-form-label col-2 text-right">专业：</label>
                                <input type="text" class="form-control col-4 text-right" id="major" name="major"
                                    value='{{ profile_form.major.value|default_if_none:"" }}'>
                            </div>
                            <div class='form-group row mx-1'>
                                <label for="admission_date" class="col-form-label col-2 text-right">入学时间：</label>
                                <input type="text" class="form-control col-4 text-right" id="admission_date" name="admission_date"
                                    value='{{ profile_form.admission_date.value|default_if_none:"" }}' placeholder="精确到月，比如2016.09">
                                <label for="graduation_date" class="col-form-label col-2 text-right">拟毕业时间：</label>
                                <input type="text" class="form-control col-4 text-right" id="graduation_date" name="graduation_date"
                                    value='{{ profile_form.graduation_date.value|default_if_none:"" }}' placeholder="精确到月，比如2020.07">
                            </div>
                            <div class='form-group row mx-1'>
                                <label for="major_number" class="col-form-label col-2 text-right">专业人数：</label>
                                <input type="text" class="form-control col-4 text-right" id="major_number" name="major_number"
                                    value='{{ profile_form.major_number.value|default_if_none:"" }}'>
                                <label for="major_rank" class="col-form-label col-2 text-right">专业排名：</label>
                                <input type="text" class="form-control col-4 text-right" id="major_rank" name="major_rank"
                                    value='{{ profile_form.major_rank.value|default_if_none:"" }}'>
                            </div>
                            <div class='form-group row mx-1'>
                                <label for="average_score" class="col-form-label col-2 text-right">平均成绩：</label>
                                <input type="text" class="form-control col-4 text-right" id="average_score" name="average_score"
                                    value='{{ profile_form.average_score.value|default_if_none:"" }}'>
                                <label for="english_level" class="col-form-label col-2 text-right">英语水平：</label>
                                <input type="text" class="form-control col-4 text-right" id="english_level" name="english_level"
                                    value='{{ profile_form.english_level.value|default_if_none:"" }}' placeholder="比如CET-6 600分">
                            </div>
                            <hr>
                            <h5>志愿信息</h5>
                            <div class='form-group row mx-1'>
                                <label for="first_institute" class="col-form-label col-2 text-right">一志愿院系：</label>
                                <select class="form-control col-sm-4 text-right" id="first_institute" name="first_institute">
                                    <option value="">------------------------</option>
                                    <option value="工物系" {% if profile_form.first_institute.value == '工物系' %} selected {% endif %}>工物系
                                    </option>
                                    <option value="核研院" {% if profile_form.first_institute.value == '核研院' %} selected {% endif %}>核研院
                                    </option>
                                </select>
                                <label for="first_degree" class="col-form-label col-2 text-right">一志愿学位：</label>
                                <select class="form-control col-sm-4 text-right" id="first_degree" name="first_degree">
                                    <option value="">------------------------</option>
                                    <option value="博士" {% if profile_form.first_degree.value == '博士' %} selected {% endif %}>博士
                                    </option>
                                    <option value="硕士" {% if profile_form.first_degree.value == '硕士' %} selected {% endif %}>硕士
                                    </option>
                                </select>
                            </div>
                            <div class='form-group row mx-1'>
                                <label for="first_major" class="col-form-label col-2 text-right">一志愿专业：</label>
                                <select class="form-control col-sm-4 text-right" id="first_major" name="first_major">
                                    <option value="">------------------------</option>
                                    <option value="物理学" class="first-major-option first-major-physics" {% if profile_form.first_major.value == '物理学' %} selected {% endif %}>物理学
                                    </option>
                                    <option value="核科学与技术" class="first-major-option first-major-nuclear" {% if profile_form.first_major.value == '核科学与技术' %} selected {% endif %}>核科学与技术
                                    </option>
                                    <option value="安全科学与工程" class="first-major-option first-major-safety" {% if profile_form.first_major.value == '安全科学与工程' %} selected {% endif %}>安全科学与工程
                                    </option>
                                    <option value="材料科学与工程" class="first-major-option first-major-material" {% if profile_form.first_major.value == '材料科学与工程' %} selected {% endif %}>材料科学与工程
                                    </option>
                                    <option value="化学工程与技术" class="first-major-option first-major-chemistry" {% if profile_form.first_major.value == '化学工程与技术' %} selected {% endif %}>化学工程与技术
                                    </option>
                                    <option value="环境科学与工程" class="first-major-option first-major-environment" {% if profile_form.first_major.value == '环境科学与工程' %} selected {% endif %}>环境科学与工程
                                    </option>
                                </select>
                                <label for="first_interest" class="col-form-label col-2 text-right">一志愿方向：</label>
                                <select class="form-control col-sm-4 text-right" id="first_interest" name="first_interest">
                                    <option value="">------------------------</option>
                                    <option value="物理学" class="first-interest-option first-interest-physics" {% if profile_form.first_interest.value == '物理学' %} selected {% endif %}>物理学
                                    </option>
                                    <option value="安全科学与工程" class="first-interest-option first-interest-safty" {% if profile_form.first_interest.value == '安全科学与工程' %} selected {% endif %}>安全科学与工程
                                    </option>
                                    <option value="裂变能科学与工程" class="first-interest-option first-interest-fission" {% if profile_form.first_interest.value == '裂变能科学与工程' %} selected {% endif %}>裂变能科学与工程
                                    </option>
                                    <option value="核聚变与等离子体物理" class="first-interest-option first-interest-fusion" {% if profile_form.first_interest.value == '核聚变与等离子体物理' %} selected {% endif %}>核聚变与等离子体物理
                                    </option>
                                    <option value="同位素分离、应用与机械" class="first-interest-option first-interest-isotope" {% if profile_form.first_interest.value == '同位素分离、应用与机械' %} selected {% endif %}>同位素分离、应用与机械
                                    </option>
                                    <option value="核技术及应用" class="first-interest-option first-interest-nuclear" {% if profile_form.first_interest.value == '核技术及应用' %} selected {% endif %}>核技术及应用
                                    </option>
                                    <option value="辐射防护及环境保护" class="first-interest-option first-interest-radiation" {% if profile_form.first_interest.value == '辐射防护及环境保护' %} selected {% endif %}>辐射防护及环境保护
                                    </option>
                                    <option value="医学物理与工程" class="first-interest-option first-interest-medicine" {% if profile_form.first_interest.value == '医学物理与工程' %} selected {% endif %}>医学物理与工程
                                    </option>
                                    <option value="材料学" class="first-interest-option first-interest-material" {% if profile_form.first_interest.value == '材料学' %} selected {% endif %}>材料学
                                    </option>
                                    <option value="化学工程" class="first-interest-option first-interest-chemistry" {% if profile_form.first_interest.value == '化学工程' %} selected {% endif %}>化学工程
                                    </option>
                                    <option value="应用化学" class="first-interest-option first-interest-applied-chemistry" {% if profile_form.first_interest.value == '应用化学' %} selected {% endif %}>应用化学
                                    </option>
                                    <option value="核能科学与工程" class="first-interest-option first-interest-nuclear-energy" {% if profile_form.first_interest.value == '核能科学与工程' %} selected {% endif %}>核能科学与工程
                                    </option>
                                    <option value="核燃料循环与材料" class="first-interest-option first-interest-nuclear-fuel" {% if profile_form.first_interest.value == '核燃料循环与材料' %} selected {% endif %}>核燃料循环与材料
                                    </option>
                                    <option value="环境科学与工程" class="first-interest-option first-interest-environment" {% if profile_form.first_interest.value == '环境科学与工程' %} selected {% endif %}>环境科学与工程
                                    </option>
                                </select>
                            </div>
                            <div class='form-group row mx-1'>
                                <label for="first_advisor" class="col-form-label col-2 text-right">一志愿导师：</label>
                                <input type="text" class="form-control col-4 text-right" id="first_advisor" name="first_advisor"
                                    value='{{ profile_form.first_advisor.value|default_if_none:"" }}'>
                            </div>
                            <div class='form-group row mx-1'>
                                <label for="second_institute" class="col-form-label col-2 text-right">二志愿院系：</label>
                                <select class="form-control col-sm-4 text-right" id="second_institute" name="second_institute">
                                    <option value="">------------------------</option>
                                    <option value="工物系" {% if profile_form.second_institute.value == '工物系' %} selected {% endif %}>工物系
                                    </option>
                                    <option value="核研院" {% if profile_form.second_institute.value == '核研院' %} selected {% endif %}>核研院
                                    </option>
                                </select>
                                <label for="second_degree" class="col-form-label col-2 text-right">二志愿学位：</label>
                                <select class="form-control col-sm-4 text-right" id="second_degree" name="second_degree">
                                    <option value="">------------------------</option>
                                    <option value="博士" {% if profile_form.second_degree.value == '博士' %} selected {% endif %}>博士
                                    </option>
                                    <option value="硕士" {% if profile_form.second_degree.value == '硕士' %} selected {% endif %}>硕士
                                    </option>
                                </select>
                            </div>
                            <div class='form-group row mx-1'>
                                <label for="second_major" class="col-form-label col-2 text-right">二志愿专业：</label>
                                <select class="form-control col-sm-4 text-right" id="second_major" name="second_major">
                                    <option value="">------------------------</option>
                                    <option value="物理学" class="second-major-option second-major-physics"
                                        {% if profile_form.second_major.value == '物理学' %} selected {% endif %}>物理学
                                    </option>
                                    <option value="核科学与技术" class="second-major-option second-major-nuclear"
                                        {% if profile_form.second_major.value == '核科学与技术' %} selected {% endif %}>核科学与技术
                                    </option>
                                    <option value="安全科学与工程" class="second-major-option second-major-safety"
                                        {% if profile_form.second_major.value == '安全科学与工程' %} selected {% endif %}>安全科学与工程
                                    </option>
                                    <option value="材料科学与工程" class="second-major-option second-major-material"
                                        {% if profile_form.second_major.value == '材料科学与工程' %} selected {% endif %}>材料科学与工程
                                    </option>
                                    <option value="化学工程与技术" class="second-major-option second-major-chemistry"
                                        {% if profile_form.second_major.value == '化学工程与技术' %} selected {% endif %}>化学工程与技术
                                    </option>
                                    <option value="环境科学与工程" class="second-major-option second-major-environment"
                                        {% if profile_form.second_major.value == '环境科学与工程' %} selected {% endif %}>环境科学与工程
                                    </option>
                                </select>
                                <label for="second_interest" class="col-form-label col-2 text-right">二志愿方向：</label>
                                <select class="form-control col-sm-4 text-right" id="second_interest" name="second_interest">
                                    <option value="">------------------------</option>
                                    <option value="物理学" class="second-interest-option second-interest-physics"
                                        {% if profile_form.second_interest.value == '物理学' %} selected {% endif %}>物理学
                                    </option>
                                    <option value="安全科学与工程" class="second-interest-option second-interest-safty"
                                        {% if profile_form.second_interest.value == '安全科学与工程' %} selected {% endif %}>安全科学与工程
                                    </option>
                                    <option value="裂变能科学与工程" class="second-interest-option second-interest-fission"
                                        {% if profile_form.second_interest.value == '裂变能科学与工程' %} selected {% endif %}>裂变能科学与工程
                                    </option>
                                    <option value="核聚变与等离子体物理" class="second-interest-option second-interest-fusion"
                                        {% if profile_form.second_interest.value == '核聚变与等离子体物理' %} selected {% endif %}>核聚变与等离子体物理
                                    </option>
                                    <option value="同位素分离、应用与机械" class="second-interest-option second-interest-isotope"
                                        {% if profile_form.second_interest.value == '同位素分离、应用与机械' %} selected {% endif %}>同位素分离、应用与机械
                                    </option>
                                    <option value="核技术及应用" class="second-interest-option second-interest-nuclear"
                                        {% if profile_form.second_interest.value == '核技术及应用' %} selected {% endif %}>核技术及应用
                                    </option>
                                    <option value="辐射防护及环境保护" class="second-interest-option second-interest-radiation"
                                        {% if profile_form.second_interest.value == '辐射防护及环境保护' %} selected {% endif %}>辐射防护及环境保护
                                    </option>
                                    <option value="医学物理与工程" class="second-interest-option second-interest-medicine"
                                        {% if profile_form.second_interest.value == '医学物理与工程' %} selected {% endif %}>医学物理与工程
                                    </option>
                                    <option value="材料学" class="second-interest-option second-interest-material"
                                        {% if profile_form.second_interest.value == '材料学' %} selected {% endif %}>材料学
                                    </option>
                                    <option value="化学工程" class="second-interest-option second-interest-chemistry"
                                        {% if profile_form.second_interest.value == '化学工程' %} selected {% endif %}>化学工程
                                    </option>
                                    <option value="应用化学" class="second-interest-option second-interest-applied-chemistry"
                                        {% if profile_form.second_interest.value == '应用化学' %} selected {% endif %}>应用化学
                                    </option>
                                    <option value="核能科学与工程" class="second-interest-option second-interest-nuclear-energy"
                                        {% if profile_form.second_interest.value == '核能科学与工程' %} selected {% endif %}>核能科学与工程
                                    </option>
                                    <option value="核燃料循环与材料" class="second-interest-option second-interest-nuclear-fuel"
                                        {% if profile_form.second_interest.value == '核燃料循环与材料' %} selected {% endif %}>核燃料循环与材料
                                    </option>
                                    <option value="环境科学与工程" class="second-interest-option second-interest-environment"
                                        {% if profile_form.second_interest.value == '环境科学与工程' %} selected {% endif %}>环境科学与工程
                                    </option>
                                </select>
                            </div>
                            <div class='form-group row mx-1'>
                                <label for="second_advisor" class="col-form-label col-2 text-right">二志愿导师：</label>
                                <input type="text" class="form-control col-4 text-right" id="second_advisor" name="second_advisor"
                                    value='{{ profile_form.second_advisor.value|default_if_none:"" }}'>
                            </div>
                            <div class='form-group row mx-1'>
                                <label for="third_institute" class="col-form-label col-2 text-right">三志愿院系：</label>
                                <select class="form-control col-sm-4 text-right" id="third_institute" name="third_institute">
                                    <option value="">------------------------</option>
                                    <option value="工物系" {% if profile_form.third_institute.value == '工物系' %} selected {% endif %}>工物系
                                    </option>
                                    <option value="核研院" {% if profile_form.third_institute.value == '核研院' %} selected {% endif %}>核研院
                                    </option>
                                </select>
                                <label for="third_degree" class="col-form-label col-2 text-right">三志愿学位：</label>
                                <select class="form-control col-sm-4 text-right" id="third_degree" name="third_degree">
                                    <option value="">------------------------</option>
                                    <option value="博士" {% if profile_form.third_degree.value == '博士' %} selected {% endif %}>博士
                                    </option>
                                    <option value="硕士" {% if profile_form.third_degree.value == '硕士' %} selected {% endif %}>硕士
                                    </option>
                                </select>
                            </div>
                            <div class='form-group row mx-1'>
                                <label for="third_major" class="col-form-label col-2 text-right">三志愿专业：</label>
                                <select class="form-control col-sm-4 text-right" id="third_major" name="third_major">
                                    <option value="">------------------------</option>
                                    <option value="物理学" class="third-major-option third-major-physics"
                                        {% if profile_form.third_major.value == '物理学' %} selected {% endif %}>物理学
                                    </option>
                                    <option value="核科学与技术" class="third-major-option third-major-nuclear"
                                        {% if profile_form.third_major.value == '核科学与技术' %} selected {% endif %}>核科学与技术
                                    </option>
                                    <option value="安全科学与工程" class="third-major-option third-major-safety"
                                        {% if profile_form.third_major.value == '安全科学与工程' %} selected {% endif %}>安全科学与工程
                                    </option>
                                    <option value="材料科学与工程" class="third-major-option third-major-material"
                                        {% if profile_form.third_major.value == '材料科学与工程' %} selected {% endif %}>材料科学与工程
                                    </option>
                                    <option value="化学工程与技术" class="third-major-option third-major-chemistry"
                                        {% if profile_form.third_major.value == '化学工程与技术' %} selected {% endif %}>化学工程与技术
                                    </option>
                                    <option value="环境科学与工程" class="third-major-option third-major-environment"
                                        {% if profile_form.third_major.value == '环境科学与工程' %} selected {% endif %}>环境科学与工程
                                    </option>
                                </select>
                                <label for="third_interest" class="col-form-label col-2 text-right">三志愿方向：</label>
                                <select class="form-control col-sm-4 text-right" id="third_interest" name="third_interest">
                                    <option value="">------------------------</option>
                                    <option value="物理学" class="third-interest-option third-interest-physics"
                                        {% if profile_form.third_interest.value == '物理学' %} selected {% endif %}>物理学
                                    </option>
                                    <option value="安全科学与工程" class="third-interest-option third-interest-safty"
                                        {% if profile_form.third_interest.value == '安全科学与工程' %} selected {% endif %}>安全科学与工程
                                    </option>
                                    <option value="裂变能科学与工程" class="third-interest-option third-interest-fission"
                                        {% if profile_form.third_interest.value == '裂变能科学与工程' %} selected {% endif %}>裂变能科学与工程
                                    </option>
                                    <option value="核聚变与等离子体物理" class="third-interest-option third-interest-fusion"
                                        {% if profile_form.third_interest.value == '核聚变与等离子体物理' %} selected {% endif %}>核聚变与等离子体物理
                                    </option>
                                    <option value="同位素分离、应用与机械" class="third-interest-option third-interest-isotope"
                                        {% if profile_form.third_interest.value == '同位素分离、应用与机械' %} selected {% endif %}>同位素分离、应用与机械
                                    </option>
                                    <option value="核技术及应用" class="third-interest-option third-interest-nuclear"
                                        {% if profile_form.third_interest.value == '核技术及应用' %} selected {% endif %}>核技术及应用
                                    </option>
                                    <option value="辐射防护及环境保护" class="third-interest-option third-interest-radiation"
                                        {% if profile_form.third_interest.value == '辐射防护及环境保护' %} selected {% endif %}>辐射防护及环境保护
                                    </option>
                                    <option value="医学物理与工程" class="third-interest-option third-interest-medicine"
                                        {% if profile_form.third_interest.value == '医学物理与工程' %} selected {% endif %}>医学物理与工程
                                    </option>
                                    <option value="材料学" class="third-interest-option third-interest-material"
                                        {% if profile_form.third_interest.value == '材料学' %} selected {% endif %}>材料学
                                    </option>
                                    <option value="化学工程" class="third-interest-option third-interest-chemistry"
                                        {% if profile_form.third_interest.value == '化学工程' %} selected {% endif %}>化学工程
                                    </option>
                                    <option value="应用化学" class="third-interest-option third-interest-applied-chemistry"
                                        {% if profile_form.third_interest.value == '应用化学' %} selected {% endif %}>应用化学
                                    </option>
                                    <option value="核能科学与工程" class="third-interest-option third-interest-nuclear-energy"
                                        {% if profile_form.third_interest.value == '核能科学与工程' %} selected {% endif %}>核能科学与工程
                                    </option>
                                    <option value="核燃料循环与材料" class="third-interest-option third-interest-nuclear-fuel"
                                        {% if profile_form.third_interest.value == '核燃料循环与材料' %} selected {% endif %}>核燃料循环与材料
                                    </option>
                                    <option value="环境科学与工程" class="third-interest-option third-interest-environment"
                                        {% if profile_form.third_interest.value == '环境科学与工程' %} selected {% endif %}>环境科学与工程
                                    </option>
                                </select>
                            </div>
                            <div class='form-group row mx-1'>
                                <label for="third_advisor" class="col-form-label col-2 text-right">三志愿导师：</label>
                                <input type="text" class="form-control col-4 text-right" id="third_advisor" name="third_advisor"
                                    value='{{ profile_form.third_advisor.value|default_if_none:"" }}'>
                            </div>
                            <div class="dropdown-divider"></div>
                            
                            <div class="form-group row mx-1">
                                <label class="col-form-label col-2 text-right" for="is_confirmed"><b>最终确认：</b></label>
                                <input class='form-control col-1 my-2' type="checkbox" id="is_confirmed" name="is_confirmed" value="{{ form.is_confirmed.value }}"
                                    {% if profile_form.is_confirmed.value == '是' %} checked {% endif %}>
                            </div>
                            {% if profile_form.is_confirmed.value != '是' %}
                            <div class="modal-footer justify-content-center">
                                <button type="submit" id="profile_btn" class="btn btn-primary">暂存</button>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="fileModalLabel">提交文件</h5>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/upload/" enctype="multipart/form-data" id="file_upload_form">
                            {% csrf_token %}
                            <div class="from-group row">
                                <label class="col-sm-3 text-right">个人陈述</label>
                                <div class="col-sm-8">
                                    <label class="text-left">{{ file_upload_form.personal_statement.value|default_if_none:'未提交'|split:'/'|last }}</label>
                                    <input type="file" class="filestyle" id="personal_statement"
                                           name="personal_statement" data-text="浏览...">
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="from-group row">
                                <label class="col-sm-3 text-right">成绩单</label>
                                <div class="col-sm-8">
                                    <label class="text-left">{{ file_upload_form.school_report.value|default_if_none:'未提交'|split:'/'|last }}</label>
                                    <input type="file" class="filestyle" id="school_report"
                                           name="school_report" data-text="浏览...">
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="from-group row">
                                <label class="col-sm-3 text-right">其他材料</label>
                                <div class="col-sm-8">
                                    <label class="text-left">{{ file_upload_form.other_material.value|default_if_none:'未提交'|split:'/'|last }}</label>
                                    <input type="file" class="filestyle" id="other_material"
                                           name="other_material" data-text="浏览...">
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="submit" id="upload_btn" class="btn btn-primary">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extrascript %}
    <script>
        jQuery.fn.toggleOption = function (show) {
                jQuery(this).toggle(show);
                if (show) {
                    if (jQuery(this).parent('span.toggleOption').length)
                        jQuery(this).unwrap();
                } else {
                    if (jQuery(this).parent('span.toggleOption').length == 0)
                        jQuery(this).wrap('<span class="toggleOption" style="display: none;" />');
                }
            };
        $(document).ready(function () {
            $('#is_confirmed').change(function () {
                    if (this.checked) {
                        $('#profile_btn').html('提交');
                        $('#is_confirmed').prop('value', '是');
                    }
                    else {
                        $('#profile_btn').html('暂存');
                        $('#is_confirmed').prop('value', '否');
                    }
                }
            );

            $('#first_institute').change(function () {
                $('.first-major-option').toggleOption(false);
                if ($('#first_institute').val() == '工物系') {
                    $('.first-major-physics').toggleOption(true);
                    $('.first-major-nuclear').toggleOption(true);
                    $('.first-major-safety').toggleOption(true);
                }
                else if ($('#first_institute').val() == '核研院') {
                    $('.first-major-material').toggleOption(true);
                    $('.first-major-chemistry').toggleOption(true);
                    $('.first-major-nuclear').toggleOption(true);
                    $('.first-major-environment').toggleOption(true);
                }
            });
            $('#first_major').change(function () {
                $('.first-interest-option').toggleOption(false);
                if ($('#first_major').val() == '物理学') {
                    $('.first-interest-physics').toggleOption(true);
                }
                else if ($('#first_major').val() == '安全科学与工程') {
                    $('.first-interest-safty').toggleOption(true);
                }
                else if ($('#first_major').val() == '核科学与技术') {
                    if ($('#first_institute').val() == '工物系') {
                        $('.first-interest-fission').toggleOption(true);
                        $('.first-interest-fusion').toggleOption(true);
                        $('.first-interest-isotope').toggleOption(true);
                        $('.first-interest-nuclear').toggleOption(true);
                        $('.first-interest-radiation').toggleOption(true);
                        $('.first-interest-medicine').toggleOption(true);
                    }
                    else if ($('#first_institute').val() == '核研院') {
                        $('.first-interest-nuclear-energy').toggleOption(true);
                        $('.first-interest-nuclear-fuel').toggleOption(true);
                        $('.first-interest-nuclear').toggleOption(true);
                        $('.first-interest-radiation').toggleOption(true);
                    }
                }
                else if ($('#first_major').val() == '材料科学与工程') {
                    $('.first-interest-material').toggleOption(true);
                }
                else if ($('#first_major').val() == '化学工程与技术') {
                    $('.first-interest-chemistry').toggleOption(true);
                    $('.first-interest-applied-chemistry').toggleOption(true);
                }
                else if ($('#first_major').val() == '环境科学与工程') {
                    $('.first-interest-environment').toggleOption(true);
                }
            });

            $('#second_institute').change(function () {
                $('.second-major-option').toggleOption(false);
                if ($('#second_institute').val() == '工物系') {
                    $('.second-major-physics').toggleOption(true);
                    $('.second-major-nuclear').toggleOption(true);
                    $('.second-major-safety').toggleOption(true);
                }
                else if ($('#second_institute').val() == '核研院') {
                    $('.second-major-material').toggleOption(true);
                    $('.second-major-chemistry').toggleOption(true);
                    $('.second-major-nuclear').toggleOption(true);
                    $('.second-major-environment').toggleOption(true);
                }
            });
            $('#second_major').change(function () {
                $('.second-interest-option').toggleOption(false);
                if ($('#second_major').val() == '物理学') {
                    $('.second-interest-physics').toggleOption(true);
                }
                else if ($('#second_major').val() == '安全科学与工程') {
                    $('.second-interest-safty').toggleOption(true);
                }
                else if ($('#second_major').val() == '核科学与技术') {
                    if ($('#second_institute').val() == '工物系') {
                        $('.second-interest-fission').toggleOption(true);
                        $('.second-interest-fusion').toggleOption(true);
                        $('.second-interest-isotope').toggleOption(true);
                        $('.second-interest-nuclear').toggleOption(true);
                        $('.second-interest-radiation').toggleOption(true);
                        $('.second-interest-medicine').toggleOption(true);
                    }
                    else if ($('#second_institute').val() == '核研院') {
                        $('.second-interest-nuclear-energy').toggleOption(true);
                        $('.second-interest-nuclear-fuel').toggleOption(true);
                        $('.second-interest-nuclear').toggleOption(true);
                        $('.second-interest-radiation').toggleOption(true);
                    }
                }
                else if ($('#second_major').val() == '材料科学与工程') {
                    $('.second-interest-material').toggleOption(true);
                }
                else if ($('#second_major').val() == '化学工程与技术') {
                    $('.second-interest-chemistry').toggleOption(true);
                    $('.second-interest-applied-chemistry').toggleOption(true);
                }
                else if ($('#second_major').val() == '环境科学与工程') {
                    $('.second-interest-environment').toggleOption(true);
                }
            });

            $('#third_institute').change(function () {
                $('.third-major-option').toggleOption(false);
                if ($('#third_institute').val() == '工物系') {
                    $('.third-major-physics').toggleOption(true);
                    $('.third-major-nuclear').toggleOption(true);
                    $('.third-major-safety').toggleOption(true);
                }
                else if ($('#third_institute').val() == '核研院') {
                    $('.third-major-material').toggleOption(true);
                    $('.third-major-chemistry').toggleOption(true);
                    $('.third-major-nuclear').toggleOption(true);
                    $('.third-major-environment').toggleOption(true);
                }
            });
            $('#third_major').change(function () {
                $('.third-interest-option').toggleOption(false);
                if ($('#third_major').val() == '物理学') {
                    $('.third-interest-physics').toggleOption(true);
                }
                else if ($('#third_major').val() == '安全科学与工程') {
                    $('.third-interest-safty').toggleOption(true);
                }
                else if ($('#third_major').val() == '核科学与技术') {
                    if ($('#third_institute').val() == '工物系') {
                        $('.third-interest-fission').toggleOption(true);
                        $('.third-interest-fusion').toggleOption(true);
                        $('.third-interest-isotope').toggleOption(true);
                        $('.third-interest-nuclear').toggleOption(true);
                        $('.third-interest-radiation').toggleOption(true);
                        $('.third-interest-medicine').toggleOption(true);
                    }
                    else if ($('#third_institute').val() == '核研院') {
                        $('.third-interest-nuclear-energy').toggleOption(true);
                        $('.third-interest-nuclear-fuel').toggleOption(true);
                        $('.third-interest-nuclear').toggleOption(true);
                        $('.third-interest-radiation').toggleOption(true);
                    }
                }
                else if ($('#third_major').val() == '材料科学与工程') {
                    $('.third-interest-material').toggleOption(true);
                }
                else if ($('#third_major').val() == '化学工程与技术') {
                    $('.third-interest-chemistry').toggleOption(true);
                    $('.third-interest-applied-chemistry').toggleOption(true);
                }
                else if ($('#third_major').val() == '环境科学与工程') {
                    $('.third-interest-environment').toggleOption(true);
                }
            });

            if ('{{ profile_form.is_confirmed.value }}' == '是') {
                $('#profile_form :input').prop('disabled', true);
            }
            ;

            // $('#is_confirmed').change(function () {
            //         if (this.checked) {
            //             $('#profile_form :input').prop('required', true);
            //         }
            //         else {
            //             $('#profile_form :input').prop('required', false);
            //         }
            //     }
            // );

            if ("{{ submission_over }}" == "True") {
                $('#profile_form :input').prop('disabled', true);
                $('#file_upload_form :input').prop('disabled', true);
            }
        });
    </script>
{% endblock %}
